#cabeza {
    height: 100vh;
    background-image: url("../images/cabecera.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#texto {
    margin-top: 25rem;
}

#texto a {
    margin-left: 5rem;
}

#texto_cabecera h1 {
    font-weight: bold;
    color: #1A2373;
    font-size: 45px;
}

#texto_cabecera p {
    color: #7986CB;
    font-size: 30px;
}

#texto_cuerpo{
    margin-top: 6rem;
}

div div p {
    color: #1A2373;
    font-size: 2vw;
}

#conocernos {
    font-weight: bold;
}

#imagen_logo {
    margin: 5rem auto;
    width: 50%;
}

#creadoras {
    color: #F8BBD0;
    font-weight: bold;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.foto {
    width: 140px;
    height: 140px;
}

@media (max-width: 767px) {
    #cabeza header nav a img {
        display: none;
    }
}

@media (max-width: 767px) {
    #texto {
        margin-top: 15rem;
    }
}

@media (max-width: 767px) {
    #texto div p {
        display: none;
    }
}

@media (max-width: 767px) {
    #imagen_logo {
        margin: 3rem auto;
        width: 30%;
    }
}

@media (max-width: 767px) {
    #creadoras {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .foto {
        width: 60px;
        height: 60px;
    }
}
